  <div id="sidebar-wrapper" (click)='toggleMenu()' [@slideInOut]="menuState">

      <ul class="sidebar">
        <li class="sidebar-title"><span>NAVIGATION</span></li>
        <li class="sidebar-list">
          <a routerLink="/dashboard">Dashboard <span class="menu-icon fa fa-tachometer"></span></a>
        </li>

        <li class="sidebar-list">
          <a routerLink="/myprojects">My projects <span class="menu-icon fa fa-pencil"></span></a>
        </li>

        <li class="sidebar-list">
          <a routerLink="/community">Community <span class="menu-icon fa fa-users"></span></a>
        </li>

        <li class="sidebar-list">
          <a routerLink="/leaderboards">Leaderboards <span class="menu-icon fa fa-trophy"></span></a>
        </li>

        <li class="sidebar-list">
          <a routerLink="/tutorials">Tutorials <span class="menu-icon fa fa-graduation-cap"></span></a>
        </li>

        <li class="sidebar-list">
          <a routerLink="/api">API Docs <span class="menu-icon fa fa-book"></span></a>
        </li>

        <li class="sidebar-list">
          <a routerLink="/editor">Editor <span class="menu-icon fa fa-terminal"></span></a>
        </li>

      </ul>

      <button class="btn btn-default">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </button>

    </div>
