/* Fonts */
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserrat-regular-webfont.eot');
  src: url('../fonts/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/montserrat-regular-webfont.woff') format('woff'), url('../fonts/montserrat-regular-webfont.ttf') format('truetype'), url('../fonts/montserrat-regular-webfont.svg#montserratregular') format('svg');
  font-weight: normal;
  font-style: normal;
}



#sidebar-wrapper {
  margin-left: 0px;
  margin-top: 10px;
  left: 0px;
  width: 20%;
  height: 100%;
  z-index: 999;
}

button {
  margin-left: 100%;
  padding-right: 0px;
  margin-top: 100%;
  height: 10%;
  width: 5%;
}

button span {
  margin-left: -14px;
  color: #00cc00;
}

#sidebar-wrapper {
  transition: all .4s ease 0s;
}
.green {
  background: #23ae89 !important;
}
.blue {
  background: #2361ae !important;
}
.orange {
  background: #d3a938 !important;
}
.red {
  background: #ae2323 !important;
}
.form-group .help-block.form-group-inline-message {
  padding-top: 5px;
}
div.input-mask {
  padding-top: 7px;
}


/* #592727 RED */
/* #2f5927 GREEN */
/* #30426a BLUE (default)*/
/* Sidebar background color */
/* Sidebar header and footer color */
/* Sidebar title text colour */
/* Sidebar menu item hover color */
/**
 * Sidebar
 */
#sidebar-wrapper {
  background: white;
}
ul.sidebar .sidebar-main a,
.sidebar-footer,
ul.sidebar .sidebar-list a:hover,
#page-wrapper:not(.open) ul.sidebar .sidebar-title.separator {
  /* Sidebar header and footer color */
  background: lightgray;
}
ul.sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 0;
  margin: 0;
  list-style: none;
  text-indent: 20px;
  overflow-x: hidden;
  overflow-y: auto;
}
ul.sidebar li a {
  color: #fff;
  display: block;
  float: left;
  text-decoration: none;
  width: 250px;
}
ul.sidebar .sidebar-main {
  height: 65px;
}
ul.sidebar .sidebar-main a {
  font-size: 18px;
  line-height: 60px;
}
ul.sidebar .sidebar-main a:hover {
  cursor: pointer;
}
ul.sidebar .sidebar-main .menu-icon {
  float: right;
  font-size: 18px;
  padding-right: 28px;
  line-height: 60px;
}
ul.sidebar .sidebar-title {
  color: #00cc00;
  font-size: 12px;
  height: 35px;
  line-height: 40px;
  text-transform: uppercase;
  transition: all .6s ease 0s;
}
ul.sidebar .sidebar-list {
  height: 40px;
}
ul.sidebar .sidebar-list a {
  text-indent: 25px;
  font-size: 15px;
  color: #a6a6a6;
  line-height: 40px;
}
ul.sidebar .sidebar-list a:hover {
  color: #fff;
  border-left: 3px solid #00cc00;
  text-indent: 22px;
}
ul.sidebar .sidebar-list a:hover .menu-icon {
  text-indent: 25px;
}
ul.sidebar .sidebar-list .menu-icon {
  float: right;
  padding-right: 29px;
  line-height: 40px;
  width: 70px;
}
#page-wrapper:not(.open) ul.sidebar {
  bottom: 0;
}
#page-wrapper:not(.open) ul.sidebar .sidebar-title {
  display: none;
  height: 0px;
  text-indent: -100px;
}
#page-wrapper:not(.open) ul.sidebar .sidebar-title.separator {
  display: block;
  height: 2px;
  margin: 13px 0;
}
#page-wrapper:not(.open) ul.sidebar .sidebar-list a:hover span {
  border-left: 3px solid #e99d1a;
  text-indent: 22px;
}
#page-wrapper:not(.open) .sidebar-footer {
  display: none;
}
.sidebar-footer {
  position: absolute;
  height: 40px;
  bottom: 0;
  width: 100%;
  padding: 0;
  margin: 0;
  transition: all .6s ease 0s;
  text-align: center;
}
.sidebar-footer div a {
  color: #b2bfdc;
  font-size: 12px;
  line-height: 43px;
}
.sidebar-footer div a:hover {
  color: #ffffff;
  text-decoration: none;
}

/* #592727 RED */
/* #2f5927 GREEN */
/* #30426a BLUE (default)*/
/* Sidebar background color */
/* Sidebar header and footer color */
/* Sidebar title text colour */
/* Sidebar menu item hover color */
