  <div id="sidebar-wrapper" (click)='toggleMenu()' [@slideInOut]="menuState">

      <ul class="sidebar">
        <li class="sidebar-title"><span>NAVIGATION</span></li>
        <li class="sidebar-list">
          <a routerLink="/dashboard">Dashboard <span class="menu-icon fa fa-tachometer"></span></a>
        </li>

        <li class="sidebar-list">
          <a routerLink="/myprojects">My projects <span class="menu-icon fa fa-pencil"></span></a>
        </li>

        <li class="sidebar-list">
          <a routerLink="/community">Community <span class="menu-icon fa fa-users"></span></a>
        </li>

        <li class="sidebar-list">
          <a routerLink="/leaderboards">Leaderboards <span class="menu-icon fa fa-trophy"></span></a>
        </li>

        <li class="sidebar-list">
          <a routerLink="/tutorials">Tutorials <span class="menu-icon fa fa-graduation-cap"></span></a>
        </li>

        <li class="sidebar-list">
          <a routerLink="/api">API Docs <span class="menu-icon fa fa-book"></span></a>
        </li>

        <li class="sidebar-list">
          <a routerLink="/editor">Editor <span class="menu-icon fa fa-terminal"></span></a>
        </li>

      </ul>
      <div class="sidebar-footer">
        <div class="col-xs-4">
          <a href="https://github.com/rdash/rdash-angular" target="_blank">
            Github
          </a>
        </div>
        <div class="col-xs-4">
          <a href="https://github.com/rdash/rdash-angular/blob/master/README.md" target="_blank">
            About
          </a>
        </div>
        <div class="col-xs-4">
          <a href="#">
            Support
          </a>
        </div>
      </div>

      <button class="btn btn-default">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </button>

    </div>
